/* my color scheme #222831, #393e46, #00adb5, #eeeeee */
html, body {
  height: 100%;margin: 0;padding: 0;
}
body {
  min-height: 100%;width: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main {
  height: 100%;width: 100%;padding-top: 60px;padding-bottom: 60px;
  overflow: auto;
}
#header, footer {    
  width: 100%;margin: 0 0;
  background-color:#393e46;
}
#header {
  height: 40px;position: fixed;overflow: hidden; padding: 5px;
}
footer {
  height: 60px;clear: both;position: relative;margin-top: -60px;
}
#my-name {
  float: left;
  line-height: 40px;
  font-size: 22px;
  font-family: "Tangerine";
  color: #eeeeee;
  padding-left: 20px;  
}
#head-list {
  float: right;
  padding-right: 20px;
}
.head-item {
  border: #222831 solid 0.5px;
  padding: 10px;
  float: left;
  margin-left: 10px;
  border-radius: 20px;
}
.head-item:hover {
  background-color: #00adb5;
}
#head-home {
  padding: 5px;
}
.head-item, #resume-btn {
  text-decoration: none;
  color: #eeeeee;
}
#resume-btn {
  border: 2px solid #00adb5;
  margin: 20px 20px;
  padding: 10px 10px; 
  border-radius: 20px;
  background-color: #393e46;
}
#resume-btn:hover {
  background-color: #00adb5;
}

#profile-pic {
  background-image: url("../images/IMG_9433.JPG");
  margin: 10px;height: 350px;width: 350px;background-position: -1px -25px;
  background-size: 110%;border-radius: 50%;background-repeat: no-repeat;  
}
/*contanier to align icons together*/
.icon-container {
  display: flex;align-items:flex-start;margin: 30px 20px;
}
/*google email icon*/
#icon {
  /*border: solid black 1px;*/
  font-size: 40px;
  line-height: 0.8;
  letter-spacing: -3px;
  text-indent: -3px;
  margin: 0 5px;
  color: #eeeeee; 
}
/*social media icons*/
.icon {
  height: 30px;width: auto;padding: 0 5px;
}